# C-sharp/vscode ignores
.vscode
bin
obj

**/.idea
*.iml

docs/_site
docs/Gemfile.lock

exercises/java/out
exercises/java/.gradle
exercises/java/build/

*.pyc

.gradle
build/
.idea
*.iml
*.ipr
*.iws
.settings
.project
.classpath
# Ignore Gradle GUI config
gradle-app.setting
/bin/